/* keep the scrollbar there at all times */
html {
	overflow-Y: scroll;
}

/* Message Boxes */
.error,
.notice,
.error,
.criteria, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.criteria     { background: #C6C2C9; color: #000; border-color: #43403D; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

/* pad the table */
table.padded td { padding: 3px 3px 3px 0px }

.multiselect {
    width: 660px;
    height: 200px;
    display: None;
}

/* Interface Elements */
input.text { width:125px; }
select.field { width:135px; }
select.condition { width:120px; }
div.clear { padding-bottom:5px; }
h3,h4 {margin:0}
table thead th { font-weight:700; border-bottom:1px solid #ccc; }
table thead th.field { width:150px; }

div#footer { text-align:center; }

/* rounded corners */

h3.toggleMultiselect {
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;

    background: url(../img/up.png) no-repeat #C6C2C9;
    padding: 0 0 0 50px;
	margin: 5px 0 5px 0;
    height:33px;
}

h3.toggleMultiselect.active { background: url(../img/down.png) no-repeat #C6C2C9; }

/* navigation breadcrumbs */
#breadcrumbs {
    background-color:#ECECE7;
    padding:5px 5px 5px 10px;
    margin: 0 0 1em 0;
}

#breadcrumbs li {
    display: inline;
}

#breadcrumbs li:before { 
    content: url(/images/ca_department/bullet_blue.gif); 
    padding-right:5px; 
}

#breadcrumbs li:first-child:before { content: ""; }